h2{
    color: white;
}
#error{
    background-color: red;
    color: antiquewhite;
}
#card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* responsive */

@media only screen and (max-width:700px) {
    #search-feild{
        width: max-content;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .button{
        text-align: center;
        padding-top: 10px;
    }
}